@model ViewModel.AdministratorForm
@{Layout = "~/Views/Layouts/AdminDefault.Modal.cshtml";}
<!-- Modules\Administrator\AdministratorForm.cs:8 -->
<form data-module="AdministratorForm" role="form" method="post" action="@Url.Current()" data-validation-style="tooltip" class="input-form">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <h2>Administrator Details</h2>
   <div class="form-body">
      <div class="form-group row required-item">
         <label for="FirstName" class="control-label">
            First name
         </label>
         <div class="group-control">
            <input type="text" asp-for="FirstName" class="form-control" autofocus="autofocus" />
         </div>
      </div>
      <div class="form-group row required-item">
         <label for="LastName" class="control-label">
            Last name
         </label>
         <div class="group-control">
            <input type="text" asp-for="LastName" class="form-control" />
         </div>
      </div>
      <div class="form-group row required-item">
         <label for="Email" class="control-label">
            Email
         </label>
         <div class="group-control">
            <input type="text" asp-for="Email" class="form-control" />
         </div>
      </div>
      <fieldset>
         <div class="form-group row required-item">
            <legend for="IsDeactivated" class="control-label">
               Is deactivated
            </legend>
            <div class="group-control">
               @Html.RadioButtonsFor(x => x.IsDeactivated, Model.IsDeactivated_Options, new { @class = "form-check" })
            </div>
         </div>
      </fieldset>
   </div>
   <div class="buttons-row">
      <div class="buttons">
         <button type="button" name="Cancel" class="btn btn-secondary" onclick="page.modal.closeMe();">Cancel</button>
         <button type="submit" name="Save" class="btn btn-primary" formaction='@Url.ActionWithQuery("AdministratorForm/Save")' default-button="true"><i class="fas fa-check"></i>
            Save</button>
      </div>
   </div>
</form>
