@model ViewModel.InvoiceForm
<!-- Modules\Invoice\InvoiceForm.cs:7 -->
<form data-module="InvoiceForm" role="form" method="post" action="@Url.Current()" data-validation-style="tooltip" class="input-form">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
   <h2>Invoice details</h2>
   <div class="form-body">
      <div class="form-group row required-item">
         <label for="Client" class="control-label">
            Client
         </label>
         <div class="group-control">
            <select asp-for="Client" asp-items="@Model.Client_Options" class="form-control" autofocus="autofocus">
            </select>
         </div>
      </div>
      <div class="form-group row">
         <label for="Date" class="control-label">
            Date
         </label>
         <div class="group-control">
            <div class="input-group">
               <input type="text" asp-for="Date" asp-format="{0:dd/MM/yyyy}" class="form-control" data-control="date-picker" />
               <span class="input-group-addon">
                  <i title="pick a date" class="fa-calendar fa"></i>
               </span>
            </div>
         </div>
      </div>
      <div class="form-group row">
         <label for="Amount" class="control-label">
            Amount
         </label>
         <div class="group-control">
            <div class="input-group">
               <span class="input-group-addon">
                  £
               </span>
               <input type="text" asp-for="Amount" class="form-control" />
            </div>
         </div>
      </div>
      <div class="form-group row">
         <label for="Description" class="control-label">
            Description
         </label>
         <div class="group-control">
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
         </div>
      </div>
   </div>
   <div class="buttons-row">
      <div class="buttons">
         <button type="button" name="Cancel" class="btn btn-secondary" onclick="return page.goBack(this);" data-redirect="ajax">Cancel</button>
         <button type="submit" name="Save" class="btn btn-primary" formaction='@Url.ActionWithQuery("InvoiceForm/Save")' default-button="true"><i class="fas fa-check"></i>
            Save</button>
      </div>
   </div>
</form>
